# IDE, environment specific
env/
.idea/

# log files
src/log_generator/api_requests.log
src/log_generator/log_generator.log
src/log_processor/log_processor.log

# influx volume mount
influx-volume/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.pytest_cache

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml